{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">{% trans "Delete Entry" %}</h1>

    <div class="alert alert-warning">
        {% blocktrans %}
            Are you sure you want to delete the entry
        {% endblocktrans %}
        <strong><a href="{% url 'edit_entry' entry.id %}">{{ entry }}</a></strong>?
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-danger btn-block">{% trans "Delete" %}</button>
            </div>
            <div class="col-md-6">
                <a href="{% url 'index' %}" class="btn btn-success btn-block">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
