{% include "errors.html" with form=time_frame_form form_name="TimeFrame" %}
{% include "errors.html" with form=entry_form form_name="Entry" %}
{% load widget_tweaks %}
<form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    
    <!-- Render Entry Form Fields -->
    {% for field in entry_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
                <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Render TimeFrame Form Fields -->
    <div class="form-row">
        {% for field in time_frame_form %}
            <div class="form-group col-md-6">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <span class="text-danger">{{ field.errors }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>