version: '3.4'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    logging:
      driver: journald
    entrypoint: bash ./scripts/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
  database:
    image: postgres:latest
    logging:
      driver: journald
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U journal"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - database:/var/lib/postgresql/data
networks:
  default:
    driver: bridge
volumes:
  database: