{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <h1>{% trans "Filter Entries" %}</h1>
    <form method="get" action="{% url 'filter_entries' %}" class="mb-4">
        {% for field in search_form %}
            <p>
                {{ field.label_tag }} {{ field }}
                <button type="button" class="btn btn-danger btn-sm clear-field" data-field-id="{{ field.auto_id }}">X</button>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i></button>
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
    </form>
    <h2>{% trans "Filtered Entries" %}</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select_all"></th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Location" %}</th>
                    <th>{% trans "Start Time" %}</th>
                    <th>{% trans "End Time" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in filtered_entries %}
                    <tr>
                        <td><input type="checkbox" name="selected_entries" value="{{ entry.id }}"></td>
                        <td>{{ entry.title|truncatechars:50 }}</td>
                        <td data-toggle="tooltip" data-placement="bottom" title="{{ entry.description }}">{{ entry.description|truncatechars:50 }}</td>
                        <td>{{ entry.location }}</td>
                        <td>{{ entry.time_frame.start_time }}</td>
                        <td>{{ entry.time_frame.end_time }}</td>
                        <td>
                            <a href="{% url 'edit_entry' entry.id %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                            <a href="{% url 'delete_entry' entry.id %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">{% trans "No entries found." %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Entries">
    </form>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#select_all').click(function() {
                $('input[type="checkbox"]').prop('checked', this.checked);
            });
            
            // Clear the content of the associated field when the delete button is clicked and submit the form
            $('.clear-field').click(function() {
                var fieldId = $(this).data('field-id');
                $('#' + fieldId).val('');
                $(this).closest('form').submit();  // Submit the form after clearing the field
            });
        });
    </script>
</div>
{% endblock %}
